<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>917039863920-cvss9ps6dmlab89okj3kd5b3lpb8oa0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.917039863920-cvss9ps6dmlab89okj3kd5b3lpb8oa0d</string>
	<key>API_KEY</key>
	<string>AIzaSyDiF4BrhjrV36UEtUZZz4HJpsNY4hgfg2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>917039863920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naufalcorp.studyInformatika</string>
	<key>PROJECT_ID</key>
	<string>study-informatika-6d21b</string>
	<key>STORAGE_BUCKET</key>
	<string>study-informatika-6d21b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:917039863920:ios:79def8164f4d9c41223cb5</string>
</dict>
</plist>